.test{
    font-weight: bold;
    background-color: yellow;
    color: brown;
}
.test1{
    font-weight: bold;
    color: brown;

}

.test2{
    letter-spacing: 4px;
    color: brown;
}
.bg{
    font-weight: bold;
    background-color: yellow;
}
.tgd{
    background-color: yellow;
    color: orangered;
    
}